<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkingDirectory</key>
	<string>/Users/drew/Documents/twitteotrope/live</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
		</dict>
	</array>
	<key>ServiceDescription</key>
	<string>Triggers a twitteotrope update.</string>
	<key>Label</key>
	<string>twitteotrope</string>
	<key>ProgramArguments</key>
	<array>
		<string>./twitteotrope.rb gradient</string>
	</array>
</dict>
</plist>
